/*padding and  border included in width height*/
* {
    box-sizing:border-box;
    background-color:#D6DBDF;
}

html {
  font-size: 18px;
  color: #283747 RGB 40, 55, 71 ;
  font-family: -window-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;


/*tag selector*/
header {
    border-bottom: 2px solid rgb(255, 255, 255);
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 1;
    background-color:#F7F9F9  RGB 247, 249, 249 ;
  }
/*class selector*/
.nav-lnk {
  text-decoration: none;
  color:inherit;
  font-family: inherit;
  font-size: inherit;
}
/*id selector*/