/*padding and  border included in width height*/
* {
    box-sizing:border-box;
}
/*tag selector*/
header {
    border-bottom: 2px solid rgb(255, 255, 255);
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 1;
    background-color: rgb(255, 233, 233);
  }
/*class selector*/
/*id selector*/