/*includes borders in width and height*/
*{
  box-sizing: border-box;
}

body{
  background-color: darkslategrey;
  text-align: center;
}

ul {
  list-style: none;
}
/*format font*/
html {
 color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 18px;
}
/*solid sticky nav bar*/
header{
  border-bottom: solid grey 1px;
  position: sticky;
  top: 0;
  background-color: slategrey;
}
 
/*horizontal navigation bar*/
nav > ul > li {
  list-style: none;
  display: inline-block;
 margin: 5px 10px;
 padding: 0;
 
}
/*format navigation bar*/
nav :hover{
  color: rgb(0, 44, 88);
}
.navlnk {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  
}
/*specify width for computer and mobile*/
main{
  max-width: 600px;
  width: 100%;
  margin: 10px auto;

}
/*format picture center*/
#img{
  display: block;
  border-radius: 20%;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}
#contact > ul > li{
  list-style: none;
}