/*includes borders in width and height*/
*{
  box-sizing: border-box;
}
/*gets rid of margins and padding*/
html,body {
  margin:0;
 color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: darkslategrey;
}

header, { border-bottom: 2px solid gray;
  position: sticky;
  top: 0;
  padding: 2px;
  z-index: 1;
  background-color: white;
  display: inline-block;

}


