/*includes borders in width and height*/
*{
  box-sizing: border-box;
}
/*gets rid of margins and padding. Formats background and text color*/
html,body {
  margin:0;
 color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: darkslategrey;
}
